.ui-slider {
background-position:center;
background-repeat:no-repeat;
height:23px;
position:relative;
width:200px;
}
.ui-slider-handle {
cursor: hand;
background:url(../img/bout.png) no-repeat;
height:17px;
left:0px;
position:absolute;
top:0px;
width:17px;
z-index:1;
}
.ui-slider-handle-active {
cursor: hand;
//border:1px dotted black;
}
.ui-slider-disabled .ui-slider-handle {
//opacity:0.5;
}
.ui-slider-range {
background:#50A029 none repeat scroll 0%;
height:100%;
opacity:0.3;
position:absolute;
width:100%;
}
.ui-slider, .ui-slider-1 {
background:url(../img/fond.png);
}
.ui-slider-2 {
background-image:url(i/slider-bg-2.png);
}

#example
{
	position:relative;
	margin:0;
	padding:0;
	width:17px;
	height:249px;
}


a.alastnews:hover { color: #2583AD;  } 
a.alastnews { text-align:justify;color:#333;text-decoration:none; }